/* Reset some default styles */
html,
body,
div,
h1,
p,
button,
input {
  margin: 0;
  padding: 0;
}

/* Chat container */
.chat-container {
  width: 100%;
  margin-top: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 15px;
}

/* Chat header */
.chat-header {
  background-color: #075E54;
  padding: 10px;
  color: #fff;
}

/* Chat header text */
.chat-header h1 {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

/* Chat messages */
.chat-messages {
  padding: 10px;
  background-color: #f5f5f5;
  background-image: url("./images/bg-chat-tile-dark.png");
  min-height: 300px;
}

/* Individual chat message */
.message {
  margin-bottom: 13px;
  text-align: left;
}

.right-message {
  margin-bottom: 13px;
  text-align: right;
}

/* Message sender */
.sender {
  font-weight: bold;
}

/* Message content */
.message-content {
  margin-top: 1px;
}

/* Chat input */
.chat-input {
  padding: 10px;
  background-color: #ece5dd;
}

/* Input field */
#message-input {
  width: calc(100% - 80px);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#sender-input-box {
  width: 140px;
  text-align: center;
}

.info-box {
  padding: 10px;
}

.info-box h1 {
  font-size: larger;
  margin-left: 5px;
}

.sidebar {
  flex-basis: 35%;
}

.app-container {
  display: flex;
}

#chat-input-box {
  width: 140px;
  text-align: center;
}

/* Send button */
.button {
  width: 70px;
  padding: 5px;
  margin-top: 3px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #128C7E;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Send button on hover */
.button:hover {
  background-color: #075E54;
}

.info-box {
  display: inline auto;
}

.date {
  font-family: sans-serif;
  font-size: 7px;
  margin-top: 2px;
}

.icon-bar {
  text-align: right;
}

#pictures{
  padding: 5px;
  margin-left: 15px;
  margin-top: 10px;
  text-align: center;
}

#shalev {
  margin-top: 20px;
}
